<!DOCTYPE html>
<html>
<head>
    <title>Combined View</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Combined View of Driver and Trip Data</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Driver Name</th>
                    <th>Staff ID</th>
                    <th>Duty Card No</th>
                    <th>Route Name</th>
                    <th>Pick Up Time</th>
                    <th>Drop Off Time</th>
                    <th>Shift Time</th>
                    <th>Head Count</th>
                </tr>
            </thead>
            <tbody>
                {% for data in combined_data %}
                <tr>
                    <td>{{ data.driver_name }}</td>
                    <td>{{ data.staff_id }}</td>
                    <td>{{ data.duty_card_no }}</td>
                    <td>{{ data.route_name }}</td>
                    <td>{{ data.pick_up_time }}</td>
                    <td>{{ data.drop_off_time }}</td>
                    <td>{{ data.shift_time }}</td>
                    <td>{{ data.head_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
